.layout {
  display: flex;
  min-height: 100vh;
  background: var(--g-color-base-background);
  position: relative;
}

.layout-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.layout-content {
  flex: 1;
  padding: 24px;
  width: 58%;
  max-width: 58%;
  margin: 0 auto;
}

.header-container {
  width: 58%;
  max-width: 58%;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .layout-content,
  .header-container {
    width: 75%;
    max-width: 75%;
  }
}

@media (max-width: 768px) {
  .layout-content,
  .header-container {
    width: 100%;
    max-width: 100%;
    padding: 16px;
  }
}
